# VERSION_GROUP will include patch versions (Ex: 1.16 will include 1.16, 1.16.1, 1.16.2, 1.16.3, and 1.16.4)
VERSION_GROUP=1.17
# MOVE Moves the updated file to server_files/minecraft_server.jar (only works if command "mv" exists and only works as root or sudo)
MOVE=true